* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(250, 250, 250);
  height: 100vh;
}
.carouselContainer {
  display: flex;

  gap: 1rem;
  width: 62rem;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel .list {
  width: 20rem;
  height: 10rem;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev,
.next {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: blue;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  margin: 0 10px;
}
